
.main .input-field {
	margin-top: 2em;
	text-align: center;
}
.input-field textarea {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	background: transparent;
	outline-style: none;
	border-top: none;
	border-right: none;
	width: 40%;
	border-bottom: 0;
	padding-left: .5em;
	border-left: 1px solid grey;
}
.main .input-field label {
	display: block;
	position: relative;
	top: -1em;
}

.og-comments {
	width: 40%;
	margin: 0 auto;
	word-wrap: break-word;
}

.og-comments li {
	margin: 0 auto;
	margin-bottom: .5em;
	cursor: pointer;
}

.og-grid {
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	word-wrap: break-word;
}

.og-grid li {
	text-align: left;
}
.og-grid > li {
	width: 40%;
	margin: 0 auto;
	/*border-left: 1px solid grey;*/
	padding-left: .5em;
/*	margin-bottom: .5em;*/
}

.og-grid > li > a:first-letter {
	font-family: initial;
	font-weight: bolder;
	font-size: 1.2em;
	/*font-color: #333;*/
}

/*
.og-grid > li:hover {
	background-color: gainsboro;
}*/

.og-grid > li > a {
	border: none;
	outline: none;
	display: block;
	position: relative;
	cursor: pointer;
}

/* expander triangle */
.og-grid > li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	border-bottom-color: #222;
	border-width: 15px;
	left: 50%;
	margin: 3px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #222;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	color: white;
}

.og-expander-inner {
	overflow-y: auto;
	padding: 50px 0;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: white;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	width: 110%;
}

p.credits a {
	border-bottom: 1px solid gainsboro;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}


/**************************************** MINE *******************************************/
.main.show {
	opacity: 1;
/*	-webkit-transform: translateY(0);
	transform: translateY(0);*/
}

.main {
	opacity: 0;
/*	-webkit-transform: translateY(100px);
	transform: translateY(100px);*/
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

li {
	list-style: none;
}

.og-comments {
	color: white;
}
.og-comments li div {
	position: relative;
	width: 1em;
	height: 1em;
	right: -102%;
	top: 1em;
	cursor: pointer;
}
.og-expander .input-field textarea {
	border-left: 1px solid white;
	color: white;
}

.delete.paragraph {
	position: relative;
	width: 1em;
	height: 1em;
	right: -102%;
	top: 1em;
	cursor: pointer;
}
